article.post
  - var stamp = new Date(String(post.created_at))
  h3.post-title= post.title
  - myImg = '/images/' + post.picture
  .circle-date
    .date-text= (Number(stamp.getMonth()) + 1) + "/" + String(stamp.getFullYear()).substring(2, 4)
  a.articleImg(href='/single/' + post.indexTitle)
    img(src=myImg)
  blockquote
    p.preview= post.preview
  //- p.body-text= post.body.substring(0, 150) + " ..."
  a(href='/single/' + post.indexTitle): p.more Read More
