article.post
  - var stamp = new Date(String(post.created_at))
  .circle-date
    .date-text= (Number(stamp.getMonth()) + 1) + "/" + String(stamp.getFullYear()).substring(2, 4)
  - myImg = '/images/' + post.picture
  a(href='/single/' + post.indexTitle)
    img.articleImg(src=myImg)
  h3.articleTitle= post.title
  p= post.preview
