extends layout

block content
  .blog
    h2.intro-header blog
    each post in posts
      article
        - var stamp = new Date(String(post.created_at))
        p= Number(stamp.getMonth()) + 1
        h4= post.title
        p= post.body
