doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/large.css', media="(max-width: 1500px)")
    link(rel='stylesheet', href='/stylesheets/small.css', media='(max-width: 1000px)')
    link(rel='stylesheet', href='/stylesheets/ionicons.min.css')
    link(rel='stylesheet', href='/stylesheets/resume.css')
    link(rel='stylesheet', href='/stylesheets/blog.css')
  body
    .color-container
      figure
      a(href='/').me-link: img(src='/images/me.png').me-img
      .display
        .intro
          .left-nav
            ul.social-media
              li: h1.title: a(href='/') Evan Kozliner
              li: a(href='https://twitter.com/evankozliner')
                span.ion-social-twitter
              li: a(href='http://www.linkedin.com/pub/evan-kozliner/62/422/40a')
                span.ion-social-linkedin
              li: a(href='https://github.com/ekozx')
                span.ion-social-github
              li: a(href='/resume')
                span.ion-ios7-email
        .description
          ul.navbar
            li: a(href='/', id='root') projects
            li: a(href='/resume', id='resume')  resumé
            li: a(href='/blog', id='blog') blog
          p.intro-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      block content
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
      script(src="/javascripts/misc.js")
