extends layout

block content
  article.post
    h1.post-title processing.js projects
    blockquote
      .preview Here's a complilation of my current processing projects. Any projects that I'm still changing to html5 audio I've just provided a Youtube video for.
    h4 Bezier Sine
      p I've always 
    .processing-canvas
      canvas(data-processing-sources="/javascripts/bezier.pde")
