extends layout

block content
  article.post
    h1.post-title Processing projects
    blockquote
      .preview Here's a compilation of my current Processing projects. Any file referenced is within the /public/javascripts folder of this sites github page.
    .post-body
      h3 bezier.pde
      p This is a short and sweet project to create a dynamic audio visualizer that. The apparent sine wave is made up of 2 bezier curves and will change position based on the location of your mouse. You can drag the screen to edit the waves themselves and click the screen for audio that changes if the mouse is dragged. Clicking the plane with the project will start/stop the music.
      .processing-canvas
        canvas(data-processing-sources="/javascripts/bezier.pde")
      h3 disco.pde
      p A disco styled audio visualizer that's without user input. The project relied on a no longer maintained processing library called maxim.js so I'm currently looking for a way to make the same project using the web audio API instead of processing because features without the API are too limited for it.
      iframe(width="540", height="340", src="//www.youtube.com/embed/3Yll5n4tqXs?list=UUa59zSKCPeJxOxGz3httVkA", frameborder="0", allowfullscreen)
      h3 spiral.pde
      p I experimented a little with a recursive function to generate an image dependent on how close the users mouse was to the center of the window of the project. Move your mouse around the project and check it out!
      .processing-canvas
        canvas(data-processing-sources="/javascripts/spiral.pde")
      
      
