extends layout

block content
  .resume
    h1.header Resumé
    .info
      p A sentence on my philospher regarding problem solving.... Interest in cross discipline solutions, keengenes etc
    ul.resume-list
      li Evan Ward Kozliner
      li evankozliner@gmail.com
      li Columbus Ohio
      li 614-316-4995
    .col-half
      .info
        h3 Education:
        .tab
          ul
            li Sophomore at The Ohio State University
            li Major: Computer Science and Engineering
            li GPA: 3.4
            li Major: Computer Science and Engineering
    .col-half
      ul.resume-img-list
        li: img.resume-img-lg(src='/images/url.jpg')
    .col-half
      .info
        h3 Languages:
        .tab
          ul
            li Ruby
            li Java
            li Javascript
            li HTML/CSS
    .col-half
      ul.resume-img-list
        li: img(src='/images/Ruby_logo.png', class='resume-img')
        li: img(src='/images/url-1.jpg', class='resume-img')
        li: img(src='/images/JavaScript-logo.png', class='resume-img')
        li: img(src='/images/imgres-1.jpg', class='resume-img')
        li: img(src='/images/imgres.jpg', class='resume-img')
    .col-half
      .info
        h3 Frameworks:
        .tab
          ul
            li Rails
            li Android
            li jQuery
            li Twitter-Bootstrap
    .col-half
      ul.resume-img-list
        li: img(src='/images/url-2.jpg', class='resume-img')
        li: img(src='/images/android-logo.png', class='resume-img')
        li: img(src='/images/imgres-2.jpg', class='resume-img')
        li: img(src='/images/url-3.jpg', class='resume-img')
    .col-half
      .info
        h3 Technical Experience:
    .col-all
      .tab
        ul
          li Created a burglar detector that links to a GUI using ultrasonic sensors attached to an Arduino board with proximity visualization written in Processing.
          li Worked with a partner to create a device-independent blogging template called “Kronicle” and set up a LAMP stack. Utilized several frameworks including Laravel, the Twitter-Bootstrap and jQuery. Currently online at the IP http://192.241.160.23/.
          li Wrote a personal website, online at evankozliner.com. A simple static website created in HTML/CSS with audio visualizer projects created in the Processing programming language.
          li Developed a static informational website on epigenetics, online at www.keengenes.com.
    .col-half
      .info
        h3 Community Involvement:
        .tab
          ul
            li James Cancer Hospital (41 hours):
              p Was responsible for distributing food and entertainment materials to patients. Worked with nurses to resupply doctor’s equipment.
            li Volunteers of America (20 hours):
              p Cleaned store, lifted merchandise and assisted customers shopping.
    .col-half
      ul.resume-img-list
        li: img(src='/images/JamesLogoStackedLogo.jpg', class='resume-img-volunteer')
        li: img(src='/images/bigbanner.JPG', class='resume-img-volunteer')
    .col-half
      .info
        h3 Outside Interest:
        .tab
          ul
            li Science Fiction
              p Avid reader and viewer of SF works, particularly novels and Japanese animation. Some favorites are Serial Experiments Lain and Brave New World.
            li Walks/Marathons
              p Attends events like “Race for the Cure” and “Autism Speaks” annually.
    .col-half
      ul.resume-img-list
        li: img(src='/images/JamesLogoStackedLogo.jpg', class='resume-img-volunteer')
        li: img(src='/images/bigbanner.JPG', class='resume-img-volunteer')
