extends layout

block content
  .resume
    h1.header Resumé
    ul.resume-list
      li Evan Ward Kozliner
      li evankozliner@gmail.com
      li Columbus Ohio
      li 614-316-4995
    h3 Education:
    .tab
      ul
        li Sophomore at The Ohio State University
        li Major: Computer Science and Engineering
        li GPA: 3.4
        li Major: Computer Science and Engineering
    h3 Languages:
    ul.resume-list
      li: img(src='/images/Ruby_logo.png', class='resume-img')
    .tab
      ul
        li Ruby
        li Java
        li Javascript
        li HTML/CSS
    h3 Frameworks:
    .tab
      ul
        li Rails
        li Android
        li jQuery
        li Twitter-Bootstrap
