extends layout

block content
  .resume
    h1.header Resumé
    ul.resume-list
      li Evan Ward Kozliner
      li evankozliner@gmail.com
      li Columbus Ohio
      li 614-316-4995
    .col-half
      .info
        h3 Education:
        .tab
          ul
            li Sophomore at The Ohio State University
            li Major: Computer Science and Engineering
            li GPA: 3.4
            li Major: Computer Science and Engineering
    .col-half
      img.resume-img-lg(src='/images/url.jpg')
    .col-half
      .info
        h3 Languages:
        .tab
          ul
            li Ruby
            li Java
            li Javascript
            li HTML/CSS
    .col-half
      ul.resume-img-list
        li: img(src='/images/Ruby_logo.png', class='resume-img')
        li: img(src='/images/url-1.jpg', class='resume-img')
        li: img(src='/images/JavaScript-logo.png', class='resume-img')
        li: img(src='/images/imgres-1.jpg', class='resume-img')
        li: img(src='/images/imgres.jpg', class='resume-img')
    .col-half
      .info
        h3 Frameworks:
        .tab
          ul
            li Rails
            li Android
            li jQuery
            li Twitter-Bootstrap
    .col-half
      ul.resume-img-list
        li: img(src='/images/url-2.jpg', class='resume-img')
        li: img(src='/images/android-logo.png', class='resume-img')
        li: img(src='/images/imgres-2.jpg', class='resume-img')
        li: img(src='/images/url-3.jpg', class='resume-img')
