extends layout

block content
  .resume
    h1.header Resumé
    ul.resume-list.intro-items
      li Evan Ward Kozliner
      li evankozliner@gmail.com
      li Columbus, Ohio
      li 614-316-4995
    .col-half
      .info
        h3 Education:
        .tab
          ul
            li Sophomore at The Ohio State University
            li Major: Computer Science and Engineering
            li GPA: 3.3
            li Major: Computer Science and Engineering
    .col-half
      ul.resume-img-list
        li: img.resume-img-lg(src='/images/url.jpg')
    .col-half
      .info
        h3 Languages:
        .tab
          ul
            li Ruby
            li Java
            li Javascript
            li HTML/CSS
    .col-half
      ul.resume-img-list
        li: img(src='/images/Ruby_logo.png', class='resume-img')
        li: img(src='/images/url-1.jpg', class='resume-img')
        li: img(src='/images/JavaScript-logo.png', class='resume-img')
        li: img(src='/images/imgres-1.jpg', class='resume-img')
        li: img(src='/images/imgres.jpg', class='resume-img')
    .col-half
      .info
        h3 Frameworks:
        .tab
          ul
            li Rails
            li Android
            li jQuery
            li Twitter-Bootstrap
    .col-half
      ul.resume-img-list
        li: img(src='/images/url-2.jpg', class='resume-img')
        li: img(src='/images/Android-logo.png', class='resume-img')
        li: img(src='/images/imgres-2.jpg', class='resume-img')
        li: img(src='/images/url-3.jpg', class='resume-img')    
    .col-half
      .info
        h3 Work Experience
    .col-all
      .tab
        ul
          li Independent Contractor at Park Bench Digital: April 2014 - November 2014
            ul
              li Worked on a team of developers and designers to create a product called Bluehook that simplified the workflow for energy brokers in the Columbus area. Did front end and back end work with Ruby on Rails and jQuery.
          li Systems Analyst Intern at Capital Resin Corporation: July 2014 - August 2014
            ul
              li Did a diverse set of projects ranging from editing database queries in SQL to basic security analysis using the tools included in Kali Linux such as Aircrack-ng, nmap and hydra. 
          li Software Intern at Lisnr: October 2013 - April 2014
            ul
              li Worked on the development of a testing application for future consumers that queried the Lisnr API and verified that the correct downloads, images and text were being loaded in prior to the consumer using their product.
    .col-half
      .info
        h3 Technical Projects:
    .col-all
      .tab
        ul
          li Created a burglar detector that links to a GUI using ultrasonic sensors attached to an Arduino board with proximity visualization written in Processing.
          li Developed a mobile friendly movie tracking social network called Zapcord using Ruby on Rails that allows users to query both Rotten Tomatoes and IMDB asynchronously, keep track of movies they want to see, and see what their friends are keeping track of. Users can log in with Twitter or Facebook and the website is online at www.zapcord.com.
          li Wrote a personal website, online at www.evankozliner.info. A simple static website created in HTML/CSS with audio visualizer projects created in the Processing programming language.
    .col-half
      .info
        h3 Community Involvement:
        .tab
          ul
            li James Cancer Hospital (41 hrs)
            li Volunteers of America (20 hrs)
    .col-half
      ul.resume-img-list
        li: img(src='/images/JamesLogoStackedlogo.jpg', class='resume-img-volunteer')
        li: img(src='/images/bigbanner.JPG', class='resume-img-volunteer')
        
    .col-all.intro-header
      h4 Please contact me if you would like a list of references.
