extends layout

block content
  .post
    - myImg = '/images/' + post.picture
    a(href='/single/' + post.indexTitle)
      img.articleImg(src=myImg)
    h1.post-title= post.title
    blockquote
      .preview=post.preview
    .post-body!= parsedBody
