.body-text {
  font-size: 1.2em;
  margin-right: 5%;
  margin-left: 5%;
}
.post {
  position: relative;
  background-color: white;
  opacity: .8;
  width: 75%;
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, .5);
}
.articleImg {
  display: block;
  text-align: center;
}
.articleImg > img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 450px;
}
.circle-date {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  width: 70px;
  top: -10px;
  left: -10px;
  position: absolute;
  height: 70px;
  border-radius: 70px;
  background-color: #3AB9E9;
  color: white;
}
.date-text {
  margin-top: 25%;
  z-index: 1;
  font-size: 20px;
  position: relative;
  display: block;
  text-align: center;
  top: 4px;
}
.post-title {
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 2.2em;
}
.preview {
  text-align: center;
  font-size: 1.4em;
}
.more {
  margin-left: 5%;
  font-size: 1.5em;
}
