.post {
  overflow: hidden;
  background-color: white;
  opacity: .8;
  width: 75%;
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid;
  border-radius: 10px;
}
.articleImg {
  width: 85%;
  height: 20%;
  padding-top: 2%;
  display: block;
  margin: auto;
}
.circle-date {
  border: solid 1px;
  left: 11%;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background-color: #00B7FF;
}
.date-text {
  margin-top: 15px;
  z-index: 1;
  font-size: 20px;
  position: relative;
  display: block;
  text-align: center;
  top: 4px;
}
