/* General Elements */
body {
}
@media all and (max-width: 1190px) {
  body {
    background-size: auto;
  }
}
/* Classes */
.container {
}
.navbar {
}
.navbar > li, .social-media > li {
  display: inline;
  padding-left: 15px;
  font-size: 25px;
}
.navbar > li {
}
