/* General Elements */
body {
}
figure {
  height: 1800px;
}
@media all and (max-width: 1190px) {
  body {
    background-size: auto;
  }
  figure {
    height: 1800px;
  }
}
/* Classes */
.container {
}
.navbar {
}
.navbar > li, .social-media > li {
  display: inline;
  padding-left: 15px;
  font-size: 28px;
}
.navbar > li {
}
.display {
  padding-top: 5%;
}
