/* General Elements */
/*ipad portrait*/
/*@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation: portrait)  { /* STYLES GO HERE */}
/*ipad landscape*/
/*@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*body {
  font-size: 1.15em;
  background-size: auto !important;
}*/

/* Classes */
.navbar {
  font-size: 45px;
}
.display {
  width: 100%;
  height: 60%;
  padding-bottom: 15%;
}
.me-link {
  margin-left: 15%;
}
h1 > a {
  font-size: 1.7em !important;
}
