/* General Elements */
a {
  color: #017791;
  text-decoration: none;
}
body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  /*background-image: url('../images/sakura.jpg');*/
  /*background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
  background-repeat:no-repeat;
  background-attachment:fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;
}
.social-media, .navbar {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding: 0;
}
h1 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
/*figure {
  height: 1800px;
}*/
/* Classes */
.active {
  padding-bottom: 1.3em;
  position: relative;
}
.active:after {
  height: .15em;
  bottom: 0;
  left: 0;
  margin-left: 0;
  background: #017791;
  border-radius: 5em;
  position: absolute;
  content: "";
  width: 100%;
}
.cover {
  position: fixed;
  top: 0;
  left: 0;
  /*min-width: 100%;
  min-height: 100%;*/
  max-width: 2000px;
}
figure {
  display: block;
  margin: 0;
  position:absolute;
  opacity: .99;
  background-image: url('../images/sakura.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-size: cover;*/
  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}
.color-container {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}
h1 > a {
  font-size: 30px;
}
.description {
  float: right;
  width: 50%;
}
.header {
  font-size: 2em;
  margin-top: 5%;
}
.intro {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  width: 50%;
  margin-bottom: 5%;
}
.intro-header {
  margin: auto;
  text-align: center;
}
.intro-text {
  margin-right: 10%;
  padding-left: 15px;
  font-size: 1.3em;
  line-height: 1.5em;
}
.left-nav {
  margin-top: 150px;
  margin-left: 15%;
}
.me-link {
  margin-left: 15%;
  margin-top: 1.5%;
  z-index: 1;
  position: absolute;
}
.me-img {
  margin-top: 2%;
  border-radius: 50%;
  margin-left: 50%;
  display: inline;
  margin: auto;
  height: 150px;
  width: 150px;
}
.navbar {
  color: white;
}
.navbar {
  padding-bottom: 10%;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
}
.display {
  margin: auto;
  width: 75%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: white;
  opacity: .8;
  display: block;
  text-align: left;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, .5);
  text-rendering: optimizespeed;
}
.title {
  margin-left: 20%;
}
