/* General Elements */
a {
  color: #00B7FF;
  text-decoration: none;
}
body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.social-media, .navbar {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
figure {
  height: 1800px;
}
/* Classes */
.active {
  padding-bottom: 1.3em;
  position: relative;
}
.active:after {
  height: .15em;
  bottom: 0;
  left: 0;
  margin-left: 0;
  background: #029CD4;
  border-radius: 5em;
  position: absolute;
  content: "";
  width: 100%;
}
figure {
  display: block;
  margin: 0;
  position:absolute;
  opacity: .99;
  background-image: url('../images/sakura.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.color-container {
  margin: 0 auto;
  width: 100%;
}
.description {
  float: right;
  width: 50%;
}
.header {
  font-size: 2em;
  margin-top: 5%;
}
.intro {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  width: 50%;
}
.intro-header {
  margin: auto;
  text-align: center;
}
.intro-text {
  margin-right: 10%;
  padding-left: 15px;
  font-size: 1.3em;
  line-height: 1.5em;
}
.left-nav {
  margin-top: 150px;
  margin-left: 15%;
}
.me-link {
  margin-left: 12.5%;
  margin-top: 3%;
  z-index: 1;
  position: absolute;
}
.me-img {
  border-radius: 50%;
  margin-left: 50%;
  display: inline;
  margin: auto;
  height: 150px;
  width: 150px;
}
.navbar {
  color: white;
}
.navbar {
  padding-bottom: 10%;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
}
.title {
  display: inline;
}
.display {
  margin: auto;
  width: 100%;
  padding-bottom: 5%;
  background-color: white;
  opacity: .8;
  display: block;
  text-align: left;
  text-rendering: optimizespeed;
}
